# Ignore slides and document files
*.pptx
*.ppt
*.docx
*.doc
*.pdf

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments & IDE
.vscode/
.idea/
*.swp

# User raw screenshots
user_screenshots/
code_and_output images/

# Temporary generated graph files
*.dot

